@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: hsl(35, 77%, 62%);
  ---red: hsl(5, 85%, 63%);
  --white: hsl(36, 100%, 99%);
  --gray: hsl(233, 8%, 79%);
  --dark-gray: hsl(236, 13%, 42%);
  --dark-blue: hsl(240, 100%, 5%);
}

body {
  font-family: "Inter", sans-serif;
  padding-bottom: 2rem;
}

.container {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.nav {
  --img-menu: scale(1);
  --img-menu-close: scale(0);
  --translate-menu: translateX(100%);
  --opacity-modal: 0;
  display: grid;
  grid-template-areas: "logo menu";
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.nav:has(:target) {
  --img-menu: scale(0);
  --img-menu-close: scale(1);
  --translate-menu: translateX(0);
  --opacity-modal: 0.8;
}
.nav__picture {
  grid-area: logo;
}

.menu {
  position: fixed;
  background-color: #eee;
  z-index: 1;
  right: 0;
  width: 75%;
  max-width: 225px;
  top: 0;
  bottom: 0;
  display: grid;
  align-content: start;
  padding-top: 6rem;
  transition: transform 0.5s;
  transform: var(--translate-menu);
}
.menu__icon {
  grid-area: menu;
  transform: var(--img-menu);
  z-index: 10;
}
.menu__icon--close {
  transform: var(--img-menu-close);
}
.menu__link {
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  color: var(--dark-gray);
}

.modal {
  position: fixed;
  background-color: #000;
  opacity: var(--opacity-modal);
  transition: opacity 0.5s;
  inset: 0;
  pointer-events: none;
}

.wrapper {
  display: grid;
  gap: 4rem;
}

.main__picture {
  background-image: url(../assets/images/image-web-3-mobile.jpg);
  background-size: cover;
  min-height: 300px;
}
.main__about {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}
.main__title {
  font-size: 3em;
  font-weight: 800;
}
.main__texts {
  display: grid;
  gap: 2rem;
  justify-items: start;
}
.main__text {
  line-height: 1.5;
  color: var(--dark-gray);
}
.main__cta {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-color: var(---red);
  color: var(--white);
  font-weight: 700;
  letter-spacing: 4px;
}

.aside {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 1.25rem 1.5rem;
}
.aside__title {
  color: var(--orange);
  font-size: 2em;
  margin-bottom: 1.5rem;
}

.news {
  display: grid;
  gap: 2rem;
}

.new:not(:last-of-type) {
  border-bottom: 1px solid var(--white);
  padding-bottom: 2rem;
}
.new__title {
  margin-bottom: 0.5rem;
}
.new__text {
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .nav {
    margin: 4rem 0 2rem;
  }

  .modal {
    display: none;
  }

  .menu {
    position: static;
    background-color: transparent;
    width: unset;
    max-width: unset;
    align-content: unset;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    transform: none;
  }
  .menu__link {
    padding: unset;
  }
  .menu__icon {
    display: none;
  }

  .wrapper {
    grid-template-areas: "main main aside";
    gap: 1.5rem;
  }

  .main {
    grid-area: main;
  }
  .main__picture {
    background-image: url(../assets/images/image-web-3-desktop.jpg);
    background-position: bottom;
  }
  .main__about {
    display: flex;
    justify-content: space-between;
    gap: 0;
    margin-top: 2rem;
  }
  .main__texts {
    width: 55%;
  }
  .main__title {
    width: 40%;
    line-height: 1;
  }

  .aside {
    grid-area: aside;
    display: grid;
  }
  .aside__title {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
