*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gradient-body: linear-gradient(#8f8a8c, #98735d);
  --gradient-barbarian: linear-gradient(#9ea3a1, #9a7b68);
  --orange: #ec9c3c;
  --orange-border: #de9337;
  --rounded: 10px;
}

body {
  min-height: 100vh;
  background-image: var(--gradient-body);
  font-family: "Raleway", sans-serif;
}

.small {
  font-size: 10px;
  font-weight: 700;
}

.card {
  width: 270px;
  padding-top: 5rem;
  margin: 0 auto;
  border-radius: var(--rounded);

  &__picture {
    position: relative;
    background-image: var(--gradient-barbarian);
    border-radius: var(--rounded) var(--rounded) 0 0;
    height: 190px;
  }

  &__img {
    bottom: -15px;
    right: -10px;
    position: absolute;
    display: block;
    width: 320px;
    filter: drop-shadow(1px 1px 1px #aaa);
  }

  &__texts {
    background-color: #fff;
    text-align: center;
    padding: 1.5rem 1.1rem 2rem;
  }

  &__level {
    color: var(--orange);
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 13px;
    color: #777;
    font-weight: 600;
    line-height: 1.5;
  }

  &__footer {
    background-color: var(--orange);
    color: #fafafa;
    border-radius: 0 0 var(--rounded) var(--rounded);
  }

  &__stats {
    text-align: center;
    border-right: 1px solid var(--orange-border);
    width: 32.3%;
    display: inline-block;
    padding: 1rem 0;

    &--last {
      border-right: none;
    }
  }

  &__number {
    font-weight: 600;
    font-size: 25px;
  }

  &__copy {
    font-size: 8px;
    vertical-align: 10px;
  }
}
